@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<main>
	<div class="auth-panel">
		<TitleBar />
		<TabBar TValue="string" ValueChanged="@NavigateTo" Data="@tabBar" ActiveIndex="1"/>
		<div class="form">
			@Body
        </div>
	</div>
</main>


@code
{
    public string value { get; set; } = "";

    public void NavigateTo(string link)
    {
        this.navigationManager.NavigateTo(link);
    }

    public IEnumerable<TabBarData<string>> tabBar { get; set; } = new TabBarData<string>[]
    {
        new()
        {
            Text = "Zarejestruj konto",
            Value = "/register"
        },
        new()
        {
            Text="Zaloguj",
            Value="/login"
        },
        new()
        {
            Text="Odzyskaj hasło",
            Value="/restore-password"
        },
    };
}