@inherits LayoutComponentBase

<MatThemeProvider Theme="@Theme">
		<div class="page">
			<div class="background">
			</div>
			<div class="container" style="background-color: @Theme.Background">
				@Body
			</div>
		</div>
</MatThemeProvider>

@code{
	public MatTheme Theme = new MatTheme()
	{
		Primary = "var(--primary-color)",
		Secondary = "var(--primary-color)",
		Background = "var(--panel-background-color)",
		Surface = "transparent"
	};
}
