.file{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid var(--font-color-header);
    color: var(--font-color-header);
    background-color: var(--background-color);
    border-radius: 8px;
}

.file--new{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.file__label{
    width: 85%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.file__name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file__icon{
    display: flex;
    font-size: 1.4em;
}