<div class="file-input">
    <div class="file-input__label">
        <i class="bi bi-download file-input__icon"></i>
        <span class="file-input__text">Umieść pliki</span>
    </div>
    @for (int i = 1; i <= NumberOfInputFiles; i++)
    {
        <InputFile class="file-input__input" @key="@i" OnChange="OnInputFileChange" multiple style="@GetInputFileStyle(i)"></InputFile>
    }
</div>
<style>
    .file-input__input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: transparent;
    }
    input::file-selector-button{
        opacity: 0;
    }
</style>

@code{
    
    public readonly int MaxAllowedFiles = 100;
    public int NumberOfInputFiles = 1;
    string GetInputFileStyle(int index)
    {
        return index == NumberOfInputFiles ? "" : "display: none";
    }
    [Parameter]
    public EventCallback<List<IBrowserFile>> OnFileAdd { get; set; }

    public async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        NumberOfInputFiles++;
        var files = e.GetMultipleFiles(MaxAllowedFiles).ToList();
        OnFileAdd.InvokeAsync(files);
    }

}