.container {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid var(--panel-line-color);
}

.container__text {
	color: var(--font-color-header);
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-bold);
}
