.container{
	width: 100%;
	height: 8vh;

	display: flex;
	justify-content: center;
	align-items: center;

	border-bottom: 2px solid var(--panel-line-color);
}

.container__text {
	color: var(--font-color-dark);
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-bold);
}
