@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('./variable.css');
@import url('./table.css');

*:not(.mdc*){
    font-size: var(--font-size-small);
    box-sizing: border-box;
}

html, body {
    color: var(--font-color-header);
    font-family: 'Roboto', sans-serif;
    font-weight: var(--font-weight-medium);
}

.panel{
    display: flex;
    flex-direction: column;
    background-color: var(--panel-background-color);
    border-radius: var(--panel-border-radius);
    overflow: hidden;
    box-shadow: var(--panel-drop-shadow);
}

i.material-icons{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer{
    cursor: pointer;
}

input::file-selector-button{
    cursor: pointer;
    opacity: 0;
}