.mdc-table{
    margin: 0 !important;
    border: none !important;
}

.mdc-table thead {
    position: sticky;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
}

.mdc-table tbody {
    color: var(--font-color-basic) !important;
}
.mdc-table th {
    background: none !important;
    border: none !important;
    white-space: nowrap;
    padding: 10px  !important;
    color: var(--font-color-header) !important;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold) !important;
}

.mdc-table td{
    padding: 10px  !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-right: none !important;
    border-left: none !important;
}

.mdc-table tbody tr:hover{
    background-color: #EEE;
}
