:root {
    --primary-color: #4099E5;
    --primary-color-transparent-90: #4099E5DD;
    --primary-color-transparent-80: #4099E5BB;
    --primary-color-transparent-20: #4099E551;
    --primary-color-transparent-10: #4099E535;
    --background-color: #EAEAEA;

    --font-color-header: #373737;
    --font-color-basic: #868484;
    --font-size-small: 16px;
    --font-size-medium: 18px;
    --font-size-large: 20px;
    --font-weight-medium: 500;
    --font-weight-bold: 600;

    --panel-background-color: #FEFEFE;
    --panel-border-radius: 10px;
    --panel-line-color: var(--font-color-basic);
    --panel-drop-shadow: -5px 5px 20px 0px #22222255;
}
