.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    height: 100%;
}

.report-topic-name{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    font-size: 2rem;
    margin-top: 3vh;
}

.file-upload-text{
    position: absolute;
    left: 50%;
    top: 54%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}

.left-column{
    width: 32%;
    position: relative;
}

.files-list{
    height: 25%;
}

.right-column{
    display: flex;
    flex-direction: column;
    width: 32%;
    justify-content: space-between;
}

.deadline{
    font-size: 1.5rem;
}
.radio-buttons{
    display: flex;
}

.radio-button-description{
    margin-bottom: 0;
}

