.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    
}



.left-column{
    width: 32%;
}
.right-column{
    display: flex;
    flex-direction: column;
    width: 32%;
    justify-content: space-between;
}

.radio-buttons{
    display: flex;
}

.radio-button-description{
    margin-bottom: 0;
}

.files-list{
    margin-bottom: 0;
    margin-top: 20px;
}