<style>
    .existing-file-item{
        display: flex;
        align-items: center;
        width: 100%;
        border: solid black 2px;
        border-radius: 15px;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 16px 20px;
        background-color: #EAEAEA;
    }
    
    .to-be-sent-file-item{
        color: #4099E5;
        display: flex;
        align-items: center;
        width: 100%;
        border: solid #4099E5 2px;
        border-radius: 15px;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 16px 20px;
        background-color: #EAEAEA;
    }
    
    .img-text{
          display: flex;
          justify-content: space-between;
          height: 100%;
          align-items: center;
    }
    
    .file-icon{
        margin-right: 5px;
        width: 1.5rem;
    }
    
    .file-name{
        font-size: 1.3rem;
    }
    
    .button{
        height: 100%;
        width: 10%;
        background: transparent;
        border: none;
        cursor: pointer;
        appearance: none;
    }

</style>

@foreach (var file in ExistingFiles)
    {
        <div class="existing-file-item">
            <div class="img-text">
                @switch (file.ContentType)
                {
                    case "image/bmp":
                    {
                        <img src="Icons/Send_edit/jpg_png-icon.svg" alt="Image file icon." class="file-icon"/>
                        break;
                    }
                    case "text/csv":
                    {
                        <img src="Icons/Send_edit/csv_xls-icon.svg" alt="Csv file icon." class="file-icon"/>
                        break;
                    }
                    case "application/msword":
                    {
                        <img src="Icons/Send_edit/doc_docx-icon.svg" alt="Word file icon." class="file-icon"/>
                        break;
                    }
                    case "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
                    {
                        <img src="Icons/Send_edit/doc_docx-icon.svg" alt="Docx file icon." class="file-icon"/>
                        break;
                    }
                    case "image/jpeg":
                    {
                        <img src="Icons/Send_edit/jpg_png-icon.svg" alt="Image file icon." class="file-icon"/>
                        break;
                    }
                    case "image/png":
                    {
                        <img src="Icons/Send_edit/jpg_png-icon.svg" alt="Image file icon." class="file-icon"/>
                        break;
                    }
                    case "application/pdf":
                    {
                        <img src="Icons/Send_edit/pdf-icon.svg" alt="Pdf file icon." class="file-icon"/>
                        break;
                    }
                    case "application/vnd.ms-powerpoint":
                    {
                        <img src="Icons/Send_edit/ppt_pptx-icon.svg" alt="Powerpoint file icon." class="file-icon"/>
                        break;
                    }
                    case "application/vnd.openxmlformats-officedocument.presentationml.presentation":
                    {
                        <img src="Icons/Send_edit/ppt_pptx-icon.svg" alt="Powerpoint file icon." class="file-icon"/>
                        break;
                    }
                    case "application/vnd.rar":
                    {
                        <img src="Icons/Send_edit/zip_7zip_rar-icon.svg" alt="Zip file icon." class="file-icon"/>
                        break;
                    }
                    case "application/x-tar":
                    {
                        <img src="Icons/Send_edit/zip_7zip_rar-icon.svg" alt="Zip file icon." class="file-icon"/>
                        break;
                    }
                    case "text/plain":
                    {
                        <img src="Icons/Send_edit/txt-icon.svg" alt="Txt file icon." class="file-icon"/>
                        break;
                    }
                    case "application/vnd.ms-excel":
                    {
                        <img src="Icons/Send_edit/csv_xls-icon.svg" alt="Excel file icon." class="file-icon"/>
                        break;
                    }
                    case "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":
                    {
                        <img src="Icons/Send_edit/csv_xls-icon.svg" alt="Excel file icon." class="file-icon"/>
                        break;
                    }
                    case "application/zip":
                    {
                        <img src="Icons/Send_edit/zip_7zip_rar-icon.svg" alt="Zip file icon." class="file-icon"/>
                        break;
                    }
                    case "application/x-zip-compressed":
                    {
                        <img src="Icons/Send_edit/zip_7zip_rar-icon.svg" alt="Zip file icon." class="file-icon"/>
                        break;
                    }    
                    case "application/x-7z-compressed":
                    {
                        <img src="Icons/Send_edit/zip_7zip_rar-icon.svg" alt="Zip file icon." class="file-icon"/>
                        break;
                    }
                    default:
                    {
                        <img src="Icons/Send_edit/default-file.svg" alt="Default file icon." class="file-icon"/>
                        break;
                    }
                }
                <span class="file-name">@file.OriginalFileName</span>
            </div>
            
            <button class="button" onclick="@(() => { paramsData.Add(file.RandomizedFileName); paramsData.Add(file.OriginalFileName); InvokeRemoveFile(paramsData); })">
                <img src="Icons/Send_edit/download-icon.svg" alt="x-button" style="width: 100%; height: 100%"/>
            </button>
        </div>
    }

@foreach (var file in FilesToBeSent)
    {
        <div class="to-be-sent-file-item">
            <div class="img-text">
                @switch (file.ContentType)
                {
                    case "image/bmp":
                    {
                        <img src="Icons/Send_edit/jpg_png-icon.svg" alt="Image file icon." class="file-icon"/>
                        break;
                    }
                    case "text/csv":
                    {
                        <img src="Icons/Send_edit/csv_xls-icon.svg" alt="Csv file icon." class="file-icon"/>
                        break;
                    }
                    case "application/msword":
                    {
                        <img src="Icons/Send_edit/doc_docx-icon.svg" alt="Word file icon." class="file-icon"/>
                        break;
                    }
                    case "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
                    {
                        <img src="Icons/Send_edit/doc_docx-icon.svg" alt="Docx file icon." class="file-icon"/>
                        break;
                    }
                    case "image/jpeg":
                    {
                        <img src="Icons/Send_edit/jpg_png-icon.svg" alt="Image file icon." class="file-icon"/>
                        break;
                    }
                    case "image/png":
                    {
                        <img src="Icons/Send_edit/jpg_png-icon.svg" alt="Image file icon." class="file-icon"/>
                        break;
                    }
                    case "application/pdf":
                    {
                        <img src="Icons/Send_edit/pdf-icon.svg" alt="Pdf file icon." class="file-icon"/>
                        break;
                    }
                    case "application/vnd.ms-powerpoint":
                    {
                        <img src="Icons/Send_edit/ppt_pptx-icon.svg" alt="Powerpoint file icon." class="file-icon"/>
                        break;
                    }
                    case "application/vnd.openxmlformats-officedocument.presentationml.presentation":
                    {
                        <img src="Icons/Send_edit/ppt_pptx-icon.svg" alt="Powerpoint file icon." class="file-icon"/>
                        break;
                    }
                    case "application/vnd.rar":
                    {
                        <img src="Icons/Send_edit/zip_7zip_rar-icon.svg" alt="Zip file icon." class="file-icon"/>
                        break;
                    }
                    case "application/x-tar":
                    {
                        <img src="Icons/Send_edit/zip_7zip_rar-icon.svg" alt="Zip file icon." class="file-icon"/>
                        break;
                    }
                    case "text/plain":
                    {
                        <img src="Icons/Send_edit/txt-icon.svg" alt="Txt file icon." class="file-icon"/>
                        break;
                    }
                    case "application/vnd.ms-excel":
                    {
                        <img src="Icons/Send_edit/csv_xls-icon.svg" alt="Excel file icon." class="file-icon"/>
                        break;
                    }
                    case "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":
                    {
                        <img src="Icons/Send_edit/csv_xls-icon.svg" alt="Excel file icon." class="file-icon"/>
                        break;
                    }
                    case "application/zip":
                    {
                        <img src="Icons/Send_edit/zip_7zip_rar-icon.svg" alt="Zip file icon." class="file-icon"/>
                        break;
                    }
                    case "application/x-zip-compressed":
                    {
                        <img src="Icons/Send_edit/zip_7zip_rar-icon.svg" alt="Zip file icon." class="file-icon"/>
                        break;
                    }    
                    case "application/x-7z-compressed":
                    {
                        <img src="Icons/Send_edit/zip_7zip_rar-icon.svg" alt="Zip file icon." class="file-icon"/>
                        break;
                    }
                    default:
                    {
                        <img src="Icons/Send_edit/default-file.svg" alt="Default file icon." class="file-icon"/>
                        break;
                    }
                }
                <span class="file-name">@file.Name</span>
            </div>
            
            <button class="button" onclick="@(() => { InvokeRemoveFile(file.Name); FilesToBeSent.Remove(file);})">
                <img src="Icons/Send_edit/x-button.svg" alt="x-button" style="width: 100%; height: 100%"/>
            </button>
        </div>
    }
    
@code {

    [Parameter]
    public List<IBrowserFile> FilesToBeSent { get; set; } = new();
    
    [Parameter]
    public List<StudentReportFileGetDto> ExistingFiles { get; set; } = new();
    
    [Parameter]
    public EventCallback<string> RemoveFile { get; set; }

    [Parameter]
    public EventCallback<List<string>> SendFileToDownloadData { get; set; }
    
    public List<string> paramsData = new();

    private void InvokeRemoveFile(List<string> dataList)
    {
        SendFileToDownloadData.InvokeAsync(dataList);
        paramsData.Clear();
    }
    
    private void InvokeRemoveFile(string name)
    {
        RemoveFile.InvokeAsync(name);
    }
    
}