@page "/restore-password"
@inject IAuthService authService

<div class="form-block">
    <MatTextField Style="width: 40%;" @bind-Value="@User.Login" Label="Login" Outlined="true"></MatTextField>
    <MatTextField Style="width: 40%;" @bind-Value="@User.Email" Label="Email" Outlined="true"></MatTextField>
</div>
<MatButton OnClick="() => TryRestorePassword()" Style="height: 80px; font-size: var(--font-size-large);" Raised="true">Odzyskaj hasło</MatButton>

@code {
    public RegisterStudentDto User { get; set; } = new RegisterStudentDto()
        {
            Login = "",
            Email = ""
        };

    public void TryRestorePassword()
    {
        authService.RestorePassword();
    }
}
