@page "/restore-password"
@inject IAuthService AuthService
@inject IMatToaster MatToaster


<EditForm Style="height: 100%; width: 100%; display: flex;flex: 1 1 0;flex-direction: column;justify-content: center;" Model="User" OnValidSubmit="TryRestorePassword">
    <DataAnnotationsValidator />
    <div class="form-block">
        <div class="form-block-textfield">
            <p>
                <MatTextField Style="width: 100%;" @bind-Value="@User.Login" Label="Login" Outlined="true"></MatTextField>
                <ValidationMessage For="@(() => User.Login)" style="font-size:12px;" />
            </p>
            <p>
                <MatTextField Style="width: 100%;" @bind-Value="@User.Email" Label="Email" Outlined="true"></MatTextField>
                <ValidationMessage For="@(() => User.Email)" style="font-size:12px;" />
            </p>
        </div>
    </div>
    <MatButton Type="submit" Style="height: 80px; font-size: var(--font-size-large);" Raised="true">Odzyskaj hasło</MatButton>
</EditForm>

@code 
{
    public RestoreUserPasswordDto User { get; set; } = new RestoreUserPasswordDto()
        {
            Login = "",
            Email = ""
        };

    public async void TryRestorePassword()
    {
        await AuthService.RestorePassword(User);
        MatToaster.Add("Sprawdź wiadomość na skrzynce pocztowej", MatToastType.Info, "Sukces!");
    }
}
