@page "/restore-password"
@inject IAuthService authService



<EditForm Style="height: 100%; width: 100%; display: flex;flex: 1 1 0;flex-direction: column;justify-content: center;" Model="User" OnValidSubmit="Success">
    <DataAnnotationsValidator />
    <div class="form-block">
        <div class="form-block-textfield">
            <p>
                <MatTextField Style="width: 100%;" @bind-Value="@User.Login" Label="Login"></MatTextField>
                <ValidationMessage For="@(() => User.Login)" />
            </p>
            <p>
                <MatTextField Style="width: 100%;" @bind-Value="@User.Email" Label="Email"></MatTextField>
                <ValidationMessage For="@(() => User.Email)" />
            </p>
        </div>
    </div>
    <MatButton Type="submit" OnClick="() => TryRestorePassword()" Style="height: 80px; font-size: var(--font-size-large);" Raised="true">Odzyskaj hasło</MatButton>
</EditForm>

@code 
{
    [Inject]
    IJSRuntime JS { get; set; }

    async Task Success() =>
        await JS.InvokeAsync<object>("alert", "Successful login!");

    public RegisterStudentDto User { get; set; } = new RegisterStudentDto()
        {
            Login = "",
            Email = ""
        };

    public void TryRestorePassword()
    {
        authService.Register(User);
    }
}
