.body-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5% 5%;
}

.report-topic-info{
    padding: 10px;
    text-align: center;
    font-size: var(--font-size-medium);
}

.report-topic-info__topic-and-group-type{
    color: var(--font-color-basic);
}

.main-container{
    display: flex;
    justify-content: space-evenly;
    height: 80%;
}

.left-column{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-file{
    min-height: 30%;
    height: 100%;
}

.file-list{
    height: min-content;
}

.file-list{
    height: 100%;
    overflow-y: auto;
}

.right-column{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
}

.mark-text{
    font-size: 1.1rem;
    margin: 0;
}