@page "/"
@inject IAppHttpClient client
<PageTitle>Index</PageTitle>

<button @onclick=goLogin >Send</button>


@code{
	public async void goLogin()
	{
		MultipartFormDataContent content = new();
		
		content.Add(new StringContent("1"), name: "ReportTopicId");
		content.Add(new StringContent("Note"), name: "Note");
		content.Add(new StringContent("true"), name: "IsIndividual");

		//var res = await client1.PostAsync("https://localhost:7184/api/StudentReport", content);
		var res = await client.PostFormData("https://localhost:7184/api/StudentReport", content);
		Console.WriteLine(res);
		
		
	}
}
