@page "/"
@page "/teacher"
@page "/student"

@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<div style="width: 100%; height: 100%; display: grid; place-items: center">
    <LoadingBar IsLoading="true"/>
</div>

@code{
    protected override void OnInitialized()
    {
        var url = NavigationManager.Uri;
        url = NavigationManager.ToBaseRelativePath(url);
        if(string.IsNullOrEmpty(url) || string.IsNullOrWhiteSpace(url))
            NavigationManager.NavigateTo("/login");
        else
            NavigationManager.NavigateTo($"{url}/reports");
        
        base.OnInitialized();
    }

    public void goLogin()
    {
        
    }
}