@page "/"

@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<button @onclick=goLogin >Logowanie</button>
<button @onclick=goSend >Send</button>


<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
	public void goLogin()
	{
		NavigationManager.NavigateTo("/Login");
	}

	private void goSend()
	{
		NavigationManager.NavigateTo("/send");
	}
}
