.block {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 7%;
}
.block-left {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 5%;
}
.block-right {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 5%;
}
p {
    width: 100%;
}
.text-bold{
    font-weight:bold;
}

#individual {
    visibility: hidden;
}

#group {
    visibility: visible;
}

