@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@attribute [AllowAnonymous]
        <main>
                <div class="auth panel">
                    <TitleBar/>
                    <TabBar TValue="string" ValueChanged="@NavigateTo" Data="@TabBarData" ActiveIndex="index"/>
                    @Body
                </div>
            </main>


@code
{
    public int index { get; set; }

    public int activeIndex()
    {
        var uri = this.NavigationManager.Uri;
        foreach (var data in TabBarData)
        {
            if (uri.Contains(data.Value))
                return TabBarData.IndexOf(data);
        }
        return 1;
    }

    public void NavigateTo(string link)
    {
        index = TabBarData.FindIndex(el => el.Value.Equals(link));
        StateHasChanged();
        NavigationManager.NavigateTo(link);
    }
    
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            index = activeIndex();
            StateHasChanged();
        }
    }

    public IEnumerable<TabBarData<string>> TabBarData { get; set; } = new TabBarData<string>[]
    {
        new()
        {
            Text = "Zarejestruj konto",
            Value = "/register"
        },
        new()
        {
            Text="Zaloguj",
            Value="/login"
        },
        new()
        {
            Text="Odzyskaj hasło",
            Value="/restore-password"
        },
    };
}