:defined{
    --height: 90vh;
}

.left-side{
    height: var(--height);
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 20vw;
}

.navigation{
    height: 100%;
}

.right-side{
    height: var(--height);
    width: 70vw;
}