@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@inject IJSRuntime js

<div class="left-side">
    <UserPad/>
    
    <div class="navigation panel">
        <TitleBar FontSize="18px"/>
        <TabBar TValue="string" ValueChanged="@NavigateTo" Data="@TabBarData" ActiveIndex="@Index" FlexDirection="column"/>
    </div>
</div>

<div class="right-side panel">
    <TitleBar/>
    @Body
</div>

@code
{
    public int Index { get; set; }

    public int GetActiveIndex()
    {
        var uri = NavigationManager.Uri;
        foreach (var data in TabBarData)
        {
            if (uri.Contains(data.Value))
                return TabBarData.IndexOf(data);
        }
        return 1;
    }

    public void NavigateTo(string link)
    {
        Index = TabBarData.FindIndex(el => el.Value.Equals(link));
        StateHasChanged();
        NavigationManager.NavigateTo(link);
    }

    private async void Logout()
    {
        var url = NavigationManager.Uri;
        if (url.Contains("login") || url.Contains("register") || url.Contains("restore-password"))
        {
            await js.InvokeVoidAsync("localStorage.removeItem", "token");
            await AuthStateProvider.GetAuthenticationStateAsync();
        }
    }

    protected override Task OnInitializedAsync()
    {
        var task = Task.Run(Logout);
        task.Wait(50);
        return base.OnInitializedAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Index = GetActiveIndex();
            StateHasChanged();
        }
    }

    public IEnumerable<TabBarData<string>> TabBarData { get; set; } = new TabBarData<string>[]
    {
        new()
        {
            Text = "Sprawozdania",
            Value = "/reports"
        },
        new()
        {
            Text = "Zespoły",
            Value = "/teams"
        },
        new()
        {
            Text = "Twoje dane",
            Value = "/personal-data"
        },
    };
}